footer {
    margin: 0px;
    padding: 0px;
}


/* base */

p{
    color: #000;
}
a{
    color: #ffa200;
    color:linear-gradient(to right, #ffa200, #ffbe01);
}


/*  button */
.btn-yellow {
    background-color: #ffa200 !important;
    background: linear-gradient(to right, #ffa200, #ffbe01);
    border-radius: 40px;
    margin-top: 40px;
    margin-right: 5px;
    width: 350px;
    height: 50px;
}
.btn-brun {
    background-color: #fff7df;
    color: #ffa200 !important;
}


/* content */
#content {
    background-color: #fff7df;
    max-height: 950px;
    height: 950px;
}

/* header */
.logo {
    margin-right: 100px;
}
.nav-h {
    line-height: 100px;
}
.logo, .nav-h {
    height: 150px;
}
.nav-h li {
    width: auto;
}
.nav-h li > a {
    font-weight: bold;

}
.nav-h li a:hover, .nav-h li a:active {
    font-weight: bold;
    text-decoration: underline solid #ffa200 2px;
    text-underline-offset: 1em;
    color: #262626;
}
.nav-h li a.btn:hover {
    text-decoration: none;
}

.goge{
margin-left: 125px;
margin-top: 140px;
}
.phrase{
    margin-left: 125px;
    margin-bottom: 35px;
}
.border{
border-radius: 40px;
height: 50px;
margin-right: 140px;
}
/* image haut*/
.imghaut{
    display: block;
   
}
.sign{
    margin-left: 195px;
}
/*image bas*/
.imgbas{
    margin-top: 20px;
  width:550px;
  height: 250px;
}
.error{
    font-size: .8em;
    font-weight: bold;
    color: red;
}

.errorBG{
    background-color: #fcbbcf;
    border-color: red;
}
.off{
    display: none;
}
.on {
    display:block;
}
/* slider */
.slider {
    background: linear-gradient(to right, #ff9d01, #ffb400);
    height: 660px;
    margin-bottom: 5px;
}
.slider h2 {
    font-size: 1.8em;
    font-weight: bold;
}
.slider h2:first-child {
    margin-top: 120px;
}
.slider p {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slider button {
    margin-top: 5px;
    padding: 20px;
    border-radius: 50px;
    width: 200px;
}
.slider h2, .slider p, .slider button {
    color: #fff7df;
    margin-left: 90px;
}
.slider .btn-slider {
    margin-left: 90px;
    margin-top: 50px;
}


/* content */
.content {
    background-color: #fff7df;
}
.iconeBT {
    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
    margin-top: 150px;
    margin-bottom: 120px;
}
.iconeBT img {
    width: 148px;
    height: 129px;
}
.iconeBT img, .iconeBT h3, .iconeBT p {
    margin-left: 110px;
}
.iconeBT p {
    
    color: #000;
}


/* footer */
footer {
    background-color: #262626;
    width: 100%;
    height: 250px;
    color: #fff;
}

footer div.logoFooter {
    background-image: url("image/logo_fond_noir.png");
    background-repeat: no-repeat;
    height: 75px;
    width: 207px;
    margin-top: 20px;
    margin-bottom: 10px;
}

